<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tree_Logger_CSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<userSettings>
        <Tree_Logger_CSharp.Properties.Settings>
                <setting name="Logs" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="LogsPerSecond" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="ClickLogs" serializeAs="String">
                        <value>1</value>
                </setting>
                <setting name="SelfClickLogs" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="TotalTimesClicked" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Clicker" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Lumberjack" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="LumberYard" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Sawmill" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Forest" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Shipment" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Alchemy" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Portal" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Extractor" serializeAs="String">
                        <value>0</value>
                </setting>
        </Tree_Logger_CSharp.Properties.Settings>
    </userSettings>
</configuration>